{% extends "base.html" %}

{% block main %}

<head>
    <title>Profile Page</title>
    
    
</head>

<br>
        <header>
            <h1>{{selected_one['firstname']}}'s Profile</h1>
        </header>

    <body>
        <div style="display:inline-block;vertical-align:top;"><img src="{{selected_one['image']}}" width="370" height="340"></div>
        <div style="display:inline-block;">
                    <div><h1>&nbsp   {{selected_one['firstname']}} {{selected_one['lastname']}}</h1></div></p>
                    <div><b>&nbsp&nbsp&nbsp&nbsp&nbsp    Profile Created On:</b> {{selected_one['created_on']}}</div>
                    <div>&nbsp&nbsp&nbsp&nbsp&nbsp</div>
                    <div><b>&nbsp&nbsp&nbsp&nbsp&nbsp    Username:</b> {{selected_one['usern']}} </div>
                    <div><b>&nbsp&nbsp&nbsp&nbsp&nbsp    User Id:</b> {{selected_one['id']}}</div>
                    <div><b>&nbsp&nbsp&nbsp&nbsp&nbsp    Gender:</b> {{selected_one['gender']}}</div>
                    <div><b>&nbsp&nbsp&nbsp&nbsp&nbsp    Age:</b> {{selected_one['age']}}</div>
                    <div>&nbsp&nbsp&nbsp&nbsp&nbsp</div>
                    <div>&nbsp&nbsp&nbsp&nbsp&nbsp</div>
                    <div>&nbsp&nbsp&nbsp&nbsp&nbsp   {{selected_one['biography']}}</div>
        </div></div>
    </body>>
    
    
{% endblock %}...